<!DOCTYPE html>
<html>

<head>

<title>[[project]] Password Recovery</title>

<link rel="stylesheet" type="text/css" href="/css/standard.css">
<link href="/css/responsive.min.css?v=4.1.2" rel="stylesheet" />
<script src="/js/standard.js"></script>  
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

.link {
    background-color: #b8deb4;
    border: 1px solid #3d4d61;
    border-radius: 1px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 3px;
}
.nolink { border-radius:15px; background-color:  #B8DEB4; font-weight: bold;padding:3px 3px; font-size:16px}

</style>

</head>

<body onload="document.pw_recovery.email.focus();"> 

<div align="center">
  <img class="loc-img" src="/images/[[handler]].jpg" width="300px" height="300px" border="0">
  <div class="loc-nav" style="background-color:#E0B0FF; width:100%;">
 
  </div>
  <br>
  <div class="loc-content">
    <b><font size="+1" color="navy">Request Password Recovery Email</font></b>
    <p>
    
    [[error]] [[message]]
    <p>
    Please enter in your login email address. When you submit the form you will
    receive an email at that email address within a few minutes. Follow the instructions
    in the email to reset your account password for [[project]].
    <p>
    <form name='pw_recovery' onSubmit="return validateEmail();" method="POST" action="/scripts/spiis.dll/[[handler]]">
    <input type=hidden name="process" value="pw_recovery">
    <table width="100%">
      <tr>
        <td>
          <b>Email Address:</b> <input type="text" id="email" name="email" value="" maxlength="100">
        </td>
      </tr>
    </table>
              
      <div class="form-actions" align="right">
          <button  type="reset" onclick="goto_login();">Cancel</button>
          <button type="submit" name="do_submit">Send Password Recovery Email</button>
      </div>
    </form>      
  </div>
  <br><br>
  <div class="loc-footer">
    [[copyright]] All Rights Reserved. |
    <a href="#" target=_blank>Terms of Use</a>   |   
    <a href="#" target=_blank>Privacy Policy</a>   | 
    <a href="#" target=_blank>Disclaimer</a>
  </div>
</div>


</body>
</html>