<!DOCTYPE html>
<html>

<head>

<title>[[project]] Password Reset</title>

<link rel="stylesheet" type="text/css" href="/css/standard.css">
<link href="/css/responsive.min.css?v=4.1.2" rel="stylesheet" />
<script src="/js/standard.js"></script>  
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

.link {
    background-color: #b8deb4;
    border: 1px solid #3d4d61;
    border-radius: 1px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 3px;
}
.nolink { border-radius:15px; background-color:  #B8DEB4; font-weight: bold;padding:3px 3px; font-size:16px}

</style>

</head>

<body onload="document.pw_reset.new_password.focus();"> 

<div align="center">
  <img class="loc-img" src="/images/[[handler]].jpg" width="300px" height="300px" border="0">
  <div class="loc-nav" style="background-color:#E0B0FF; width:100%;">
 
  </div>
  <br>
  <div class="loc-content">
    <b><font size="+1" color="navy">Reset Password</font></b>
    <p>
    
    [[error]] [[message]]
    <p>
    Please type in your new password and confirm it. Then click on the Reset Password button complete
    the process. You will be returned to the login page.
    <form name='pw_reset' onSubmit="return validateNewpassword();" method="POST" action="/scripts/spiis.dll/[[handler]]">
    <input type=hidden name="process"  value="reset_one_password">
    <input type=hidden name="user_gid" value="[[user_gid]]">
    <table width="100%">
      <tr>
        <td>
          <b>New Password (must be at least 8 characters in length):</b> <input type="password" id="new_password" name="new_password" value="" maxlength="50">
        </td>
      </tr>
      <tr>
        <td>
          <b>Confirm New Password:</b> <input type="password" id="confirm_new_password" name="confirm_new_password" value="" maxlength="50">
        </td>
      </tr>

    </table>
              
      <div class="form-actions" align="right">
           <button  type="reset" onclick="goto_login();">Cancel</button>
          <button type="submit" name="do_submit">Reset Password</button>
      </div>
    </form>      
  </div>
  
  <br><br>
  <div class="loc-footer">
    [[copyright]] All Rights Reserved. |
    <a href="#" target=_blank>Terms of Use</a>   |   
    <a href="#" target=_blank>Privacy Policy</a>   | 
    <a href="#" target=_blank>Disclaimer</a>
  </div>
</div>


</body>
</html>